{% extends 'base.html' %}
{% block content %}

<a href="/logout" class="logout">Logout</a>

<div class="card">
<h2>Create Project</h2>
<form method="POST" action="/create_project">
  <input name="name" placeholder="Project Name">
  <button>Create</button>
</form>
</div>

<div class="card">
<h2>Create Task</h2>
<form method="POST" action="/create_task">
  <input name="title" placeholder="Task Title">
  <input type="date" name="due_date" required>

  <select name="project_id" required>
    {% for p in projects %}
      <option value="{{p.id}}">{{p.name}}</option>
    {% endfor %}
  </select>

  <select name="user_id">
    {% for u in users %}
      <option value="{{u.id}}">{{u.username}}</option>
    {% endfor %}
  </select>

  <button>Create Task</button>
</form>
</div>

<div class="card">
<h2>Tasks</h2>

{% for task in tasks %}
<div class="task {% if task.status=='completed' %}completed{% endif %}">
  <span>{{task.title}} ({{task.status}})</span>
  <a href="/update_task/{{task.id}}">Done</a>
</div>
{% endfor %}

</div>

{% endblock %}